.heading{
    font-size: 23px;
    width: 100%;
    margin: 0px;
    box-shadow: 5px 5px 5px lightseagreen;
}

.note{
    font-size: 15px;
    color: linen;
}

.copy_right_footer{
position: fixed;
color: royalblue;
bottom: 0;
width: 100%;
line-height: 3;
text-align: center;
background-color: paleturquoise;
}

canvas{
    border: 5px solid royalblue;
    border-radius: 20px;
    box-shadow: 5px 5px 5px cadetblue;
}